<div class="d-flex mt-5">
  <img src=<%= user.photo %> alt="User photo" >
<div class="d-flex justify-content-around w-100 border mx-3 py-2">
<h1 >
<%= user.name%>
</h1>
<p class="d-flex h-100 align-items-end">
Number of posts: <%= user.posts_counter %>
</p>
</div>

</div>