<div>
<%= render "/users/user", user: @user%>
<% @post.each do |post| %>
 <div  class= "mt-3">
    <%= render 'post', post:post %>
 </div>
 <div class= "mt-3">
      <%= render partial: "comment", locals: { post: post } %>
      </div>
<% end %>
<div>
See All Posts
</div>
</div>

